<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iolanda Search - Resultados </title>
    <link rel="stylesheet" href="../static/styles/home.css">
    <link rel="stylesheet" href="../static/styles/pesquisa.css">
    <link rel="shortcut icon" href="../static/imgs/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="envolve-tudo">
        <div class="menu-lateral" id="home">
            <img src="../static/imgs/logo_colorida.png" class="logo-menu" alt="Logo principal">
            <div class="icones-container">
                <a href="#home">
                    <div class="icones">
                        <img src="../static/imgs/home-svg.png" alt="">
                        <p>Home</p>
                    </div>
                </a>
        
                <a href="#sobre">
                    <div class="icones">
                        <img src="../static/imgs/sobre-svg.png" alt="">
                        <p>Sobre</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="container-main-conteudo">
            <div class="resultados">
                <div class="pesquisa-resultados">
                    <h1> Total de itens encontrados : 5</h1>
                    <div class="input-pesquisa">
                        <input type="text" placeholder="Pesquisar">
                        <a href="../templates/pesquisa.html">
                            <img src="../static/imgs/lupa-svg.png"  alt="Ícone de lupa">
                        </a>
                    </div>
                </div>

                <div class="container-box-resultados">
                    <div class="box-resultados">
                        <img src="../static/imgs/logo_colorida.png" alt="">
                    
                        <div class="texto-resultados">
                            <h3> Nome do fornecedor </h3>
                            <span> R$ 19,90 </span>
                            <p> Lorem ipsum dolor sit amet. </p>
                        </div>
                        <div class="preco-resultados">
                            <span>R$ 19,90 </span>
                            <a href="">Ver</a>
                        </div>
                    </div>

                    <div class="box-resultados">
                        <img src="../static/imgs/logo_colorida.png" alt="">
                    
                        <div class="texto-resultados">
                            <h3> Nome do fornecedor </h3>
                            <span> R$ 19,90 </span>
                            <p> Lorem ipsum dolor sit amet. </p>
                        </div>
                        <div class="preco-resultados">
                            <span>R$ 19,90 </span>
                            <a href="">Ver</a>
                        </div>
                    </div>

                    <div class="box-resultados">
                        <img src="../static/imgs/logo_colorida.png" alt="">
                    
                        <div class="texto-resultados">
                            <h3> Nome do fornecedor </h3>
                            <span> R$ 19,90 </span>
                            <p> Lorem ipsum dolor sit amet. </p>
                        </div>
                        <div class="preco-resultados">
                            <span>R$ 19,90 </span>
                            <a href="">Ver</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="avatar-Iolanda">
            <img src="../static/imgs/Iolanda.jpeg" alt="">
       
        </div>

    </div>
</body>
</html>